BRM/apps/cmt/schema_files/physical/deviceSIMExtension.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="deviceExtensions.xsd"/>
	<xs:complexType name="deviceSIMType">
		<xs:complexContent>
			<xs:extension base="deviceExtensionType">
				<xs:sequence>
					<xs:element name="Imsi" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Pin1" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Pin2" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
					<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Puk1" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Puk2" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Ki" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Adm1" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NwElm" type="NetworkElement" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="elem" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DevSim" type="deviceSIMType" substitutionGroup="DeviceExtension"/>
</xs:schema>
