BRM/apps/cmt/schema_files/physical/payinfoInvoiceExtension.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="payinfoExtensions.xsd"/>
	<xs:complexType name="payinfoInvoiceType">
		<xs:complexContent>
			<xs:extension base="payinfoExtensionType">
				<xs:sequence>
					<xs:element name="Add" type="Address" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Cty" type="City" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Cntr" type="Country" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DelDsc" type="DeliveryDescr" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DelPrf" type="DeliveryPrefer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="EAdd" type="EmailAddr" minOccurs="0" maxOccurs="1"/>
					<xs:element name="InvInstr" type="InvInstr" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Nm" type="Name" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Stt" type="State" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Zip" type="Zip" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="payInvExtn" type="payinfoInvoiceType" substitutionGroup="payExtn"/>
</xs:schema>
