BRM/apps/cmt/schema_files/physical/promotionAccountLevelExtension.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="promotionExtensions.xsd"/>
	<xs:complexType name="promotionAccountLevelType">
		<xs:complexContent>
			<xs:extension base="promotionExtensionType">
				<xs:sequence>
					<xs:element name="ALPArr" type="AccountLevelPromotionArrayType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccountLevelPromotionArrayType">
		<xs:sequence>
			<xs:element name="Nam" type="Name" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Val" type="Value" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VldT" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VldF" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="elem" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:element name="PrmActLvlExtn" type="promotionAccountLevelType" substitutionGroup="PrmExtn"/>
</xs:schema>
