BRM/PortalDevKit/rwWorkspace/rw/xmlstreams/xmlstreams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Schema for Rogue Wave Software XMLStreams.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:element name="object" type="object"/>
  <xsd:element name="primitive" type="primitive"/>
  <xsd:element name="sequence" type="sequence"/>  
  <xsd:element name="map" type="map"/>

  <xsd:complexType name="object">
    <xsd:sequence>
      <xsd:element name="member" type="memberType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="class" type="xsd:string"/>
    <xsd:attribute name="ID" type="xsd:ID" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="object-ref">
    <xsd:attribute name="IDREF" type="xsd:IDREF"/>
  </xsd:complexType>

  <xsd:complexType name="nested_object">
    <xsd:sequence>
      <xsd:element name="member" type="memberType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="class" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="memberType" mixed="true">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="nested_object" type="nested_object"/>
        <xsd:choice>
          <xsd:element name="object" type="object"/>
          <xsd:element name="object-ref" type="object-ref"/>
        </xsd:choice>
        <xsd:element name="map" type="map"/>
        <xsd:element name="sequence" type="sequence"/>
        <xsd:any/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="type" type="xsd:anyType"/>
  </xsd:complexType>

  <xsd:complexType name="primitive">
    <xsd:attribute name="type" type="primitiveTypeUnion"/>
  </xsd:complexType>

  <xsd:simpleType name="primitiveTypeUnion">
    <xsd:union memberTypes="char wchar_t unsignedChar xsd:double longDouble xsd:float xsd:int xsd:unsignedInt xsd:long xsd:unsignedLong longLong unsignedLongLong xsd:short xsd:unsignedShort xsd:string xsd:date"/>
  </xsd:simpleType>

  <xsd:complexType name="map">
    <xsd:sequence>
      <xsd:element name="assoc" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
              <xsd:element name="key" type="memberType"/>
            </xsd:choice>
            <xsd:choice>
              <xsd:element name="value" type="memberType"/>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name ="count" type="xsd:long"/>
    <xsd:attribute name ="key-type" type="xsd:anyType"/>
    <xsd:attribute name ="value-type" type="xsd:anyType"/>
  </xsd:complexType>

  <xsd:complexType name="sequence">
    <xsd:sequence>
      <xsd:element name="seq-element" type="seq-elementType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name ="count" type="xsd:long"/>
    <xsd:attribute name ="element-type" type="xsd:anyType"/>
  </xsd:complexType>

  <xsd:complexType name="seq-elementType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="value" type="memberType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="pos" type="xsd:long"/>
  </xsd:complexType>

  <xsd:simpleType name="char">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedChar">
    <xsd:restriction base="char"/>
  </xsd:simpleType>

  <xsd:simpleType name="wchar_t">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="longDouble">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="longLong">
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedLongLong">
    <xsd:restriction base="xsd:unsignedLong"/>
  </xsd:simpleType>

  <xsd:simpleType name="unsupported">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="Namespace">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="Unknown_Type">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

</xsd:schema>


