BRM/apps/cmt/schema_files/conceptual/CMT_Balances.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" elementFormDefault="qualified">
	<!-- Balance data processing During the initial load accounts will be created with a default balance group all these balances will be added to the that default balance group and a corresponding entry would be made in the mapping table  -->
	<xs:include schemaLocation="CMT_Types.xsd"/>
	<xs:element name="AccountBalances">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountBalancesArray" type="BalancesArray" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BalancesArray">
		<xs:sequence>
			<xs:element name="BalancesSubBalancesArray" type="SubBalancesArray" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FldOutstandingAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldReservedAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldCreditFloor" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldDynamicCreditFloor" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldCreditLimit" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldOverrideCreditLimit" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldCreditThresholds" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="FldCreditThresholdsFixed" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldConsumptionRule" type="ConsumptionRule" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="FldConsumedReservedAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="parentRef" type="Id" use="required"/>
		<xs:attribute name="serviceRef" type="Id" use="optional"/>
		<xs:attribute name="Resource" type="xs:string" use="required"/>
		<xs:attribute name="elem" type="xs:integer" use="required"/>
		<!-- paretRef is the account global reference to which these balances belong -->
		<!-- serviceRef is the service global reference to which these balances belong -->
		<!-- Resource is the correct resource (currency or non- currency ) name for example Yen , USD etc. -->
	</xs:complexType>
	<xs:complexType name="SubBalancesArray">
		<xs:sequence>
			<xs:element name="FldCurrentBalance" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldValidFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="FldValidFromDetails" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldValidTo" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="FldValidToDetails" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldGrantorObj" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldContributor" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitOfRollover" type="RolloverUnit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldFrequency" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldNetQuantity" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<!-- Net quantity will be used for creating cycle rollover event -->
			<xs:element name="FldRollData" type="cs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldSubtype" type="SubBalanceType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldGrantedBalance" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="elem" type="xs:integer" use="required"/>
	<xs:attribute name="grtObjRef" type="xs:string" use="optional"/>
	<xs:attribute name="productObj" type="xs:string" use="optional"/>
	<xs:attribute name="discountObj" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
