BRM/apps/cmt/schema_files/conceptual/promotionAccountLevelExtension.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="promotionExtensions.xsd"/>
	<xs:complexType name="promotionAccountLevelType">
		<xs:complexContent>
			<xs:extension base="promotionExtensionType">
				<xs:sequence>
					<xs:element name="AccountLevelPromotionArray" type="AccountLevelPromotionArrayType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccountLevelPromotionArrayType">
		<xs:sequence>
			<xs:element name="FldName" type="Name" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldValue" type="Value" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldValidTo" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FldValidFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="elem" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:element name="PromotionAccountLevelExtension" type="promotionAccountLevelType" substitutionGroup="PromotionExtension"/>
</xs:schema>
