BRM/apps/cmt/schema_files/conceptual/serviceTelcoGSMExtension.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.portal.com/InfranetXMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portal.com/InfranetXMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="serviceExtensions.xsd"/>
	<xs:complexType name="serviceTelcoGSMType">
		<xs:complexContent>
			<xs:extension base="serviceExtensionType">
				<xs:sequence>
					<xs:element name="Features" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FldName" type="Name" minOccurs="0" maxOccurs="1"/>
								<xs:element name="FldFeaturesStatus" type="ServiceStatus" minOccurs="0" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FldMSISDN" type="xs:integer" minOccurs="0" maxOccurs="1" default="1"/>
					<xs:element name="FldBearerService" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FldIMEI" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ServiceTelcoGSMlExtension" type="serviceTelcoGSMType" substitutionGroup="ServiceExtension"/>
</xs:schema>
