BRM/deploy/web_services/wsdls/BRMSubscriptionServices12.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SUBSCRIPTION" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
            <include schemaLocation="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_CHANGE_DEAL.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_SET_PRODINFO.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_SET_BUNDLE.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION.xsd"/>
            <include schemaLocation="PCM_OP_SUBSCRIPTION_CALC_QUOTE.xsd"/>
        </schema>
    </types>
    <message name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_outmsg">
        <part name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_response" type="xsd:string"/>
    </message>
    <portType name="BRMSUBSCRIPTIONService_ptt">
        <operation name="PcmOpSubscriptionTransferSubscription">
            <input message="brm:PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inmsg" name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outmsg" name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionPurchaseDeal">
            <input message="brm:PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inmsg" name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outmsg" name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionChangeDeal">
            <input message="brm:PCM_OP_SUBSCRIPTION_CHANGE_DEAL_inmsg" name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_CHANGE_DEAL_outmsg" name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionSetProductStatus">
            <input message="brm:PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_inmsg" name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_outmsg" name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionSetProdinfo">
            <input message="brm:PCM_OP_SUBSCRIPTION_SET_PRODINFO_inmsg" name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_SET_PRODINFO_outmsg" name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionCancelProduct">
            <input message="brm:PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionCancelDiscount">
            <input message="brm:PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_inmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_outmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionSetDiscountStatus">
            <input message="brm:PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inmsg" name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outmsg" name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionSetDiscountinfo">
            <input message="brm:PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_inmsg" name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_outmsg" name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionGetPurchasedOfferings">
            <input message="brm:PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_inmsg" name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_outmsg" name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_outmsg"/>
        </operation>
        <operation name="pcmOpSubscriptionOrderedBalgrp">
            <input message="brm:PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_inmsg" name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_outmsg" name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_outmsg"/>
        </operation>
        <operation name="pcmOpSubscriptionOrderedBalgrpBulkModify">
            <input message="brm:PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_inmsg" name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_outmsg" name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionSetBundle">
            <input message="brm:PCM_OP_SUBSCRIPTION_SET_BUNDLE_inmsg" name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_SET_BUNDLE_outmsg" name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionCancelSubscription">
            <input message="brm:PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_inmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_outmsg" name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_outmsg"/>
        </operation>
        <operation name="PcmOpSubscriptionCalcQuote">
            <input message="brm:PCM_OP_SUBSCRIPTION_CALC_QUOTE_inmsg" name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_inmsg"/>
            <output message="brm:PCM_OP_SUBSCRIPTION_CALC_QUOTE_outmsg" name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_outmsg"/>
        </operation>
    </portType>
    <binding name="BRMSUBSCRIPTIONService12_binding" type="brm:BRMSUBSCRIPTIONService12_ptt">
        <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PcmOpSubscriptionTransferSubscription">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionPurchaseDeal">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionChangeDeal">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_CHANGE_DEAL_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionSetProductStatus">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionSetProdinfo">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionCancelProduct">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionCancelDiscount">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionSetDiscountStatus">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionSetDiscountinfo">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionGetPurchasedOfferings">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="pcmOpSubscriptionOrderedBalgrp">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="pcmOpSubscriptionOrderedBalgrpBulkModify">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_ORDERED_BALGRP_BULK_MODIFY_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionSetBundle">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_SET_BUNDLE_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionCancelSubscription">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpSubscriptionCalcQuote">
            <soap12:operation SoapAction=""/>
            <input name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_inmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_SUBSCRIPTION_CALC_QUOTE_outmsg">
                <soap12:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="BRMSUBSCRIPTIONService12">
        <port binding="brm:BRMSUBSCRIPTIONService12_binding" name="BRMSUBSCRIPTIONService12_pt">
            <soap12:address location="http://localhost:8080/brm/BRMWSSUBSCRIPTIONServices"/>
        </port>
    </service>
    <plt:partnerLinkType name="BRMService_plt">
        <plt:role name="BRMService_role">
            <plt:portType name="brm:BRMSUBSCRIPTIONService12_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>
