BRM/xsd/bus_params_billing.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://www.portal.com/schemas/BusinessConfig" xmlns:businessConfig="http://www.portal.com/schemas/BusinessConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation xml:lang="en">
 Copyright (c) 2004, 2019, Oracle and/or its affiliates. All rights reserved.
			This material is the confidential property of Oracle Corporation or its
			licensors and may be used, reproduced, stored or transmitted only in
			accordance with a valid Oracle license or sublicense agreement.
		</xs:documentation>
	</xs:annotation>

	<xs:complexType name="BusParamsBillingType">
		<xs:all>
			<xs:element name="BillingCycleOffset" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					The offset from the start of the day for the billing cycle.  This value is in hours and the default is 0 (12 AM). Max 23.
               	 			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
          				<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="23"/>
						<xs:whiteSpace value="collapse"/>
	               			</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="MoveDayForward" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					The direction to apply billing when a BDOM is not contained in the month.  The default is to use the first day of the next month.
					</xs:documentation>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="firstDay"/>
						<xs:enumeration value="lastDay"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="RemoveSponsoree" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether sponsoree account must be removed from sponsor group upon closure of sponsoree account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProdEndOffsetPlanTransition" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					The delay (in days) for cancellation of a 2g service when going to a 3g service or vice-versa during plan transition.
					</xs:documentation>
				</xs:annotation>
				
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="31"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="GenerateJournalEpsilon" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether to generate epsilon journal and delta for item
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="ApplyCycleFeeForBillNow" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether to apply cycle fees during bill now.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
 

			<xs:element name="RerateDuringBilling" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					If delayed CDRs borrow against the free resources already consumed by the new cycle CDRs in the delay period, then the new cycle CDRs need to rerated. This parameter indicates whether during billing, the rerating criteria should be evaluated and rerating triggered. By default, this feature is disabled (0)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="AutoTriggeringLimit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					This parameter indicates a count of days before the next billing time when disabling of auto-triggering of billing is allowed. Value 0 indicates to enable auto-triggering.
					</xs:documentation>
				</xs:annotation>
				
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="31"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ValidateDiscountDependency" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to enable exclusion validation for discounts. Default is 0 (disabled).	
					</xs:documentation>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="discToDiscExcl"/>
						<xs:enumeration value="discToPlanExcl"/>
						<xs:enumeration value="enableBothExcl"/>
						<xs:enumeration value="disableDiscToPlanExclAndNoPurTimeValidation"/>
						<xs:enumeration value="enableBothExclAndNoPurTimeValidation"/>
						<xs:enumeration value="returnOnFirstExcl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="RolloverCorrectionDuringBilling" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					If delayed CDRs consume free resources in the delay period, then the rollover that happened at the beginning of the delay period might need to be corrected. This parameter indicates whether during billing, the need for rollover correction should be evaluated and the correction recorded. By default, this feature is disabled (0).
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="EnableARA" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        This parameter indicates whether ara is enabled for out of cycle billing
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>
			
			<xs:element name="CreateTwoBillNowBillsInDelay" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        This parameter indicates whether to create two Bill Now bills when Bill_Now is invoked  for the account within the delay period.
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>
			
			<xs:element name="SubBalValidity" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Parameter to define the expiration of sub balance bucket for products products during line transfer. The parameter values can be 0 (Cut),1 (Maintain), 2 (Align). Default is 0 (disabled).
                                        </xs:documentation>
                                </xs:annotation>

                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="Cut"/>
                                                <xs:enumeration value="Maintain"/>
                                                <xs:enumeration value="Align"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>

			<xs:element name="SequentialCycleDiscounting" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        This parameter specifies whether sequential cycle discounting feature is enabled to apply the cycle fee discounts sequentially
					</xs:documentation>
                                </xs:annotation>
                        </xs:element>

			<xs:element name="CacheResidencyDistinction" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to enable/disable object cache residency distinction feature. Default is 0 (disabled)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="DefaultBusinessProfile" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
                                        This parameter indicates the default value of business profile 
                                        </xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="AcctCycleDelayPeriod" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
                                        This parameter indicates the accounting delay period. This is used by REL to identify items during delay period of accounting cycle
                                        </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="28"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="GeneralLedgerReporting" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Enable/Disable General Ledger Reporting . The parameter values can be 0 (disabled
), 1 (enabled). Default is 1 (enabled).
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>

			<xs:element name="BackdatingPastGlPostedDate" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether backdating past GL posted date is allowed or not. Value can be 0 (disabled) or 1 (enabled). Default is 0.
                                        </xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="CustomJournalUpdate" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Enable/disable customization of general ledger journal entries before they are updated in database. Value can be 0 (disabled) or 1 (enabled). Default is 0.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="PerfAdvancedTuningSettings" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						This parameter is used to tune the behavior of BRM, especially with respect to performance. Bit fields of the integer value are used to specify the configuration options. Bit 0: Controls setting of item number during billing. Bit 1: Controls updating transfer events during billing. Bit 2: Controls updating item's effective_t for correct GL reports. Bit 3: Controls calculation of previous total unpaid bill. Bit 4:Controls locking of subordinate accounts during parent billing. Bit 5: Controls triggering of partial billing of subordinates. Bit 6: Controls generating journals for trial billing. Default value is 0. For more details, refer to BRM documentation.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			

                        <xs:element name="GenerateBillForChildBillNow" type="businessConfig:switch">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                This single parameter determines turning on / off of creating bill objects for non paying childs during bill now. Values can be 0(disabled), 1 (enabled)
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>

			<xs:element name="EnableCorrectiveInvoices" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate that the Corrective Invoicing feature is on. The parameter has two values: 0 - Corrective Invoicing feature is not used (Default), and 1 - Corrective Invoicing feature is used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="SSPRevenueRecognition" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Parameter to indicate whether SSP based Revenue Recognition feature is on. The parameter has two values: 0 - SSP based Revenue Recognition feature is not used (Default), and 1 - SSP based Revenue Recognition feature is used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="AllowCorrectivePaidBills" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether Corrective Bills can be generated for paid bills. The parameter has two values: 0 - do not allow to generate Corrective Bills for paid bills (default), 1 - allow to generate Corrective Bills paid bills.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="RejectPaymentsForPreviousBill" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate whether to reject a payment if the passing bill_no does not coincide with the bill_no from the last bill. The parameter has two values: 0 - accept payment (default), 1 - reject payment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="CorrectiveBillThreshold" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate the minimum correction amount for which a Corrective bills is allowed. The parameter value is an decimal number. Value 0 (default) means that validation for minimum correction amount is not provided.
					</xs:documentation>
				</xs:annotation>
                                <xs:simpleType>
                                   <xs:restriction base="xs:decimal">
                                      <xs:minInclusive value="0"/>
                                      <xs:whiteSpace value="collapse"/>
                                   </xs:restriction>
                                 </xs:simpleType>
			</xs:element>

			<xs:element name="GenerateCorrectiveBillNo" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Parameter to indicate which pin_sequence to use in order to generate a bill number for a corrective bill. Values are 0 (use pin_sequence for the regular bill) or 1 (use pin_sequence for the corrective bill, this is default).
					</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="ExchangeRateRefreshInterval" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        This parameter indicates the interval at which the exchange rates from the BRM database is refreshed during billing.
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:maxInclusive value="86400"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                        </xs:simpleType>
                        </xs:element>

                        <xs:element name="ApplyARParentCycleFeeFirst" type="businessConfig:switch">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Enable/Disable the applcation of cycle fee for parent first, prior to applying for the subordinate. The parameter values can be 0 (disabled), 1 (enabled). Default is 0 (disabled).
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>
			<xs:element name="SplitSponsorItemByMember">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
					This parameter enables flexible sponsorship item creation. By default it is disabled(0) and only /item/sponsor will be created at account level.When enabled(3) subtype of /item/sponsor may be created and these items will point to member services. Additionally this parameter may only be switched on for onlyRealTime(1) or onlyBatch(2).
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
						<xs:enumeration value="onlyRealTime"/>
						<xs:enumeration value="onlyBatch"/>
                                      </xs:restriction>
                        </xs:simpleType>
                        </xs:element>
			<xs:element name="SkipCheckForSubordinatesBilled">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
						Parameter allows to enable/disable the check, whether billing parent should be billed or not provided Subordinate is billed successfully. If disabled(0) then parent billing will fail if subordinate billing has issues. If enabled(1) then skip the above check.
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
                                      </xs:restriction>
                        </xs:simpleType>
                        </xs:element>
			<xs:element name="StagedBillingFeeProcessing">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						This parameter enables cycle fee processing in parallel by service. Valid values: 0 - Disabled (Default), 1 - Parallel by service, 2 - Parallel by service with enforcement of fee processing before billing, 3 - Parallel by service with fees aggregated to account level item, 4 - Parallel by service with enforcement of fee processing before billing and fees aggregated to account level item.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="4"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NonCurrencyResourceJournaling">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Creation of journal for the event with non-currency resource id will be decided based on this parameter value. i.e  All or None or +:XXX,YYY or -:XXX,YYY. where XXX and YYY are resource ids. The default value is : All.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationModeForTaxation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Determines whether taxation is done via addresses/zipcodes or geocodes. Possible values are 0 - Address/Zipcode, 1 - Geocode.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="ItemEventChargeDiscountMode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        This parameter defines the search mode for the opcode PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT. The default value is 0 and maximum value is 3. This value indicates the search criteria. i.e passed min and max values will be matched with, when 0 - any one balance impact of the event. 1 - Gross charge of the balance impacts. 2 - Net charge of the balance impacts. 3 - Total charge of the balance impacts.
                                        </xs:documentation>
                                </xs:annotation>

                                <xs:simpleType>
                                        <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:maxInclusive value="3"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
			<xs:element name="ZeroEventBalances">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                To Turn ON/OFF the zero-event journal balances
                                                (0=default(Not to include zero-event journal balances))
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:integer">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="1"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        <xs:element name="StopBillClosedAccounts">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                Disables billing of closed accounts. Can have 2 values 1(don't bill under certain conditions) and 0(bill)
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        <xs:element name="ActgType">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                Specifies whether to use open-item accounting. actg_type can take 2 values: open-item(1) and balance-forward(2)
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                        <xs:enumeration value="open_item"/>
                                                        <xs:enumeration value="balance_forward"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                        <xs:element name="ShortCycle">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                Enables billing for accounts in same billing cycle even if number of days since activation is less than 15 days. Values 1 (bill if number of days since activation is less than 15 days) and 0 (don't bill if number of days since activation is less than 15 days) (Default is 0)
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
 			<xs:element name="SegregateJournalsByGLPeriod"  minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
						Parameter to indicate whether to segregate journal by GL period (0=default(Not to segregate by GL period))
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
						<xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
                                      </xs:restriction>
                        </xs:simpleType>
                        </xs:element>
			<xs:element name="DeferredTaxJournaling" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Enable/disable journaling tax data. Value can be 0 (disabled) , 1 (enabled with default tax supplier and no tax_locale populated) or 2 (enabled). Default is 2
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
                        <xs:element name="WholesaleBillingSystem"  minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                Parameter to indicate that the system has only wholesale account (disable=default)
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
                                                <xs:enumeration value="enabled"/>
                                      </xs:restriction>
                        </xs:simpleType>
                        </xs:element>
                        <xs:element name="CycleTaxInterval">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                This parameter is used to determine tax computation of parent and children accounts.  If the entry is set to 'billing', the tax for the subordinate account will go to the parent account.  So,at the end of the cycle, the parent will have both taxes (own and subord's). If the entry is set to 'accounting' (default), then the tax for the subordinate will go to the subordinate account, and the tax for the parent will go to the parent account.
                                        </xs:documentation>
                                </xs:annotation>
                        <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="accounting"/>
                                                <xs:enumeration value="billing"/>
                                      </xs:restriction>
                        </xs:simpleType>
                        </xs:element>

                        <xs:element name="DealPurchaseForClosedAccount">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                Specifies whether an inactive or closed account or service can purchase a deal or not. The values for this entry can be 0/disabled(Default) = Do not allow purchase, 1/enabled = Allow purchase
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
                                                <xs:enumeration value="enabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>

                        <xs:element name="CycleDelayAlign">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                               Specifies whether to align the product purchase/cycle/usage start and end times to the accounting cycle. Default is 0/disabled which means start and end times are not aligned to the accounting cycle. If 1/enabled and if you configure delayed start and end times, they will be aligned to the accounting cycle.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
                                                <xs:enumeration value="enabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>

			<xs:element name="ConfigBillingDelay" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Specifies the delay in billing accounts after the end of a billing cycle. Delayed billing can be used to bill for events that occur within a billing cycle but are not recorded during that cycle. The length of the delay interval must be shorter than one accounting cycle
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ConfigBillingCycle" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Set this entry to specify how long after the end of the billing cycle the new events are considered for the previous month's bill. If this value is greater than config_billing_delay the system will error out. By default this value is set to 0.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="27"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

                        <xs:element name="Billing31Day">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
					Specifies whether 31 day billing feature is enabled. 0 - BDOM can be 1-28 days of the month. 1 - means that BDOM can be 1-31 days of the month. Default is 0.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
                                                <xs:enumeration value="enabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>

			<xs:element name="BillDomChargesOnCurrentBill" type="businessConfig:switch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Possible values are 0/disabled(Default) and 1/enabled. If enabled all the cycle_forward charges of actions performed exactly on BDOM within the billing delay period will be included in the current bill itself. By default it will go to the next bill
				</xs:documentation>
				</xs:annotation>
			</xs:element>

                        <xs:element name="ExcludePercentForZeroTaxAmt">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
					Specifies whether tax percentage should be added for zero tax amount. 0 - percentage is added for zero tax amount (default). 1 - do not add the percentage. The parameter is for cases where PIN_FLD_TAXPKG_TYPE = 0.   
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
                                                <xs:enumeration value="enabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
                       <xs:element name="ItemizedTaxCalculation">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Specifies whether tax calculation on Payment and Adjustment feature is enable or disable. 0 - Tax Calculation feature Disable(default). 1 - Enable the Tax calculation . 
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:enumeration value="disabled"/>
						<xs:enumeration value="enabled"/>
						<xs:enumeration value="PartiallyEnabled"/>
                                      </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
			<xs:element name="ApplyFolds" type="businessConfig:switch">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Enable/Disable fold calculation. 0 - Disable fold calculation. 1 - Apply folds and enable fold calculation. Default value is 1.
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>
			<xs:element name="ApplyRollover" type="businessConfig:switch">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Enable/Disable rollover calculation. 0 - Disable rollover calculation. 1 - Enable rollover calculation. Default value is 1.
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>	
			<xs:element name="CancelTolerance" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Specifies the cancellation tolerance of account products, in minutes. This is the time after a product is purchased when it can be cancelled with a full refund. For example, this tolerance is needed when a customer service representative assigns the wrong product to a customer and needs to cancel it.
                                        </xs:documentation>
                                </xs:annotation>

                                <xs:simpleType>
                                        <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:maxInclusive value="15"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
			<xs:element name="AddChildDueInIntermediateParentBill" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                        Possible values are 0/disabled(Default) and 1/enabled. If enabled child due, adjusted, dispute, writeoff, transferred and recvd will be added in the intermediate parent's due, adjusted, dispute, writeoff, transferred and recvd respectively.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                        <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="1"/>
                                                <xs:whiteSpace value="collapse"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:element>			
		</xs:all>
	</xs:complexType>
</xs:schema>
