BRM/xsd/bus_params_act.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
	targetNamespace="http://www.portal.com/schemas/BusinessConfig" 
	xmlns:businessConfig="http://www.portal.com/schemas/BusinessConfig" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation xml:lang="en">
 Copyright (c) 2004, 2016, Oracle and/or its affiliates. All rights reserved.
			This material is the confidential property of Oracle Corporation or its
			licensors and may be used, reproduced, stored or transmitted only in
			accordance with a valid Oracle license or sublicense agreement.
		</xs:documentation>
	</xs:annotation>

	<xs:complexType name="BusParamsActivityType">
		<xs:sequence>
			
			<xs:element name="BillingTimeDiscountBasedOnPeriod" type="businessConfig:switch">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						This parameter decides if the
						balances to be used for billing time discounts
						will be calculated based on a period.
						When enabled by setting to 1, balances
						will be calculated based on a period.
						Default value is 0 which disables this feature
						where balances will be calculated within the period.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LightWeightAuthorization" type="businessConfig:switch">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						This parameter turns on(1)/off(0) Light Weight Authorization feature.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxLoginAttempts">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                This parameter indicates the maximum number of invalid login attempts allowed
                                                for /service/pcm_client and /service/admin_client before the service is locked.
                                                The default value is 5.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                                <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:whiteSpace value="collapse"/>
                                                </xs:restriction>
                                </xs:simpleType>
                        </xs:element>
			<xs:element name="UseExactTimeForDeferredAction" type="businessConfig:switch">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						This parameter determines use of the exact scheduled time for a deferred action. Valid values are 0 (Default) - Disabled: When creating a deferred action, round off scheduled time to midnight and 1 - Enabled: Use exact time specified in input without rounding to midnight.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="SetFirstUsageInSession" type="businessConfig:switch">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                                This parameter decides if the First Usage of
                                                a balance validity will be triggered at the start
                                                or in the middle of a user session.
                                                When enabled by setting to 1, balance First Usage
                                                can be set at the authorization/reauthorization
                                                time, as well as at the end of a session.
                                                Default value is 0 which disables this feature
                                                and balance First Usage can only be set at the
                                                end of a session.
                                        </xs:documentation>
                                </xs:annotation>
                        </xs:element>
			<xs:element name="LastIncrementRounding">
                                <xs:annotation>
                                        <xs:documentation xml:lang="en">
						This parameter determines how the last increment quantity should be rounded in prepaid authorization. Valid values are 0 (Default) - No rounding, 1 - round up and 2 - round down."
                                                The default value is no rounding.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="noRounding"/>
						<xs:enumeration value="roundUp"/>
						<xs:enumeration value="roundDown"/>
					</xs:restriction>
                                </xs:simpleType>
                        </xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
