BRM/xsd/config_creditor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
 Copyright (c) 2014, Oracle and/or its affiliates. All rights reserved.
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
           xmlns="http://www.oracle.com/schemas/BusinessConfig"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Schema definition for creditor config object.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd"/>

  <!-- BIC value must comply with ISO 9362 standards -->
  <xs:simpleType name="isoBIC">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- IBAN value must comply with ISO 13616:1997 standards -->
  <xs:simpleType name="isoIBAN">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Country value must comply with ISO 3166,Alpha-2 standards -->
  <xs:simpleType name="isoCtry">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Currency value must comply with ISO 4217,Numeric-3 standards -->
  <!-- Allowing only EURO currency OOTB -->
  <xs:simpleType name="isoCcy">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- SEPA Identifier rule -->
  <xs:simpleType name="isoIdRule">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[0-9A-Za-z/\-?:().,'+]{3,3}[0-9A-Za-z/\-?:().,'+ ]{1,28}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POID"         type="PinPoid"   minOccurs="0"/>
              <xs:element name="ACCOUNT_OBJ"  type="PinPoid"   minOccurs="0"/>
              <xs:element name="DESCR"        type="xs:string" minOccurs="0"/>
              <xs:element name="HOSTNAME"     type="xs:string" minOccurs="0"/>
              <xs:element name="NAME"         type="xs:string" minOccurs="1"/>
              <xs:element name="PROGRAM_NAME" type="xs:string" minOccurs="0"/>
              <xs:element name="VALUE"        type="xs:string" minOccurs="0"/>
              <xs:element name="VERSION"      type="xs:string" minOccurs="0"/>
              <xs:element name="CREDITOR_INFO" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="ADDRESS"           type="xs:string"  maxOccurs="1" minOccurs="0" />
                    <xs:element name="BIC"               type="isoBIC"     maxOccurs="1" />
                    <xs:element name="BRAND_OBJ"         type="PinPoid"    maxOccurs="1" />
                    <xs:element name="CITY"              type="xs:string"  maxOccurs="1" minOccurs="0" />
                    <xs:element name="COUNTRY"           type="isoCtry"    maxOccurs="1" minOccurs="0" />
                    <xs:element name="CREDITOR_ID"       type="isoIdRule"  maxOccurs="1" />
                    <xs:element name="CURRENCY"          type="isoCcy"     maxOccurs="1" minOccurs="0" />
                    <xs:element name="IBAN"              type="isoIBAN"    maxOccurs="1" />
                    <xs:element name="NAME"              type="xs:string"  maxOccurs="1" minOccurs="0" />
                    <xs:element name="REF_PARTY"         type="xs:string"  maxOccurs="1" minOccurs="0" />
                    <xs:element name="REF_PARTY_ID_CODE" type="xs:string"  maxOccurs="1" minOccurs="0" />
                    <xs:element name="ZIP"               type="xs:string"  maxOccurs="1" minOccurs="0" />
                  </xs:all>
                  <xs:attribute name="elem" type="xs:integer" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" default="/config/creditor" />
      <xs:attribute name="configMode" type="xs:string" default="replace" />
    </xs:complexType>
  </xs:element>
</xs:schema>
