BRM/xsd/config_maxlength_validate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
Copyright (c) 2023, Oracle and/or its affiliates.
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema 
  targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
  xmlns="http://www.oracle.com/schemas/BusinessConfig"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Schema definition for /config/maxlength_validate
    PARENTS - Array containing set of fields and its parent, level and maxlength 
              which can be executed by client applications.
    NAME - Name of the string field 
    LEVEL - At what level string field is
    PARENT - Under which Array/Substruct
    MAX_LENGTH - Max length of string field
  </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd" />

  <xs:simpleType name="zeroOrOne">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
        </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Unit">
    <xs:restriction base="xs:int">
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POID" type="PinPoid" minOccurs="0" />
              <xs:element name="ACCOUNT_OBJ" type="PinPoid" minOccurs="0" />
              <xs:element name="DESCR" type="xs:string" minOccurs="0" />
              <xs:element name="HOSTNAME" type="xs:string" minOccurs="0" />
              <xs:element name="NAME" type="xs:string" minOccurs="1" />
              <xs:element name="PROGRAM_NAME" type="xs:string" minOccurs="0" />
              <xs:element name="VERSION" type="xs:string" minOccurs="0" />
              <xs:element name="PARAMS" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NAME" 
                                type="xs:string" minOccurs="1" />
                    <xs:element name="PARENT_NAME"
                                  type="xs:string" minOccurs="1" />
                    <xs:element name="FIELD_LEVEL" 
                                type="xs:int" minOccurs="1" />
                    <xs:element name="MAX_LENGTH" 
                                type="xs:int" minOccurs="1" />
                  </xs:sequence>
                  <xs:attribute name="elem" type="xs:int" />
                </xs:complexType>
          </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" default="/config/maxlength_validate" />
      <xs:attribute name="configMode" type="xs:string" default="replaceAll" />
    </xs:complexType>
  </xs:element>

</xs:schema>