BRM/xsd/config_collections_promise_to_pay_spec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
 Copyright (c) 2022, Oracle and/or its affiliates. All rights reserved.
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
           xmlns="http://www.oracle.com/schemas/BusinessConfig"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Schema definition for collections promise_to_pay_spec config object.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd"/>

  <xs:simpleType name="zeroOrOne">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
        </xs:restriction>
  </xs:simpleType>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POID" type="PinPoid" minOccurs="0"/>
              <xs:element name="ACCOUNT_OBJ" type="PinPoid" minOccurs="0"/>
              <xs:element name="DESCR" type="xs:string" minOccurs="0"/>
              <xs:element name="HOSTNAME" type="xs:string" minOccurs="0"/>
              <xs:element name="NAME" type="xs:string" minOccurs="1"/>
              <xs:element name="PROGRAM_NAME" type="xs:string" minOccurs="0"/>
              <xs:element name="VALUE" type="xs:string" minOccurs="0"/>
              <xs:element name="VERSION" type="xs:string" minOccurs="0"/>
              <xs:element name="PROMISE_TO_PAY_SPEC" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MINIMUM"	type="xs:decimal" minOccurs="1" />
		    <xs:element name="MIN_PERCENTAGE_THRESHOLD"  type="xs:decimal" minOccurs="1" />
                    <xs:element name="TYPE"	type="zeroOrOne" minOccurs="0" />
                    <xs:element name="MAX_UNEQUAL_INSTALLMENTS" type="xs:integer" minOccurs="0" />
                    <xs:element name="MAX_UNEQUAL_INTERVALS" type="xs:integer" minOccurs="0" />
		    <xs:element name="CREDIT_LIMIT_FLAG"  type="zeroOrOne" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="elem" type="xs:int" />
                </xs:complexType>
              </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" default="/config/collections/promise_to_pay_spec" />
      <xs:attribute name="configMode" type="xs:string" default="replace" />
      <xs:attribute name="override" type="xs:string" default="true" />
    </xs:complexType>
  </xs:element>
</xs:schema>
