BRM/xsd/config_rev_rec_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
 Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.

This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema
  targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
  xmlns="http://www.oracle.com/schemas/BusinessConfig"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

<xs:annotation>
    <xs:documentation xml:lang="en">
    Description: Schema definition for /config/rev_rec_map, which defines the 
		 the mapping of rev_rec_schedule with the event and balance 			
		 element attributes. 
    Type: Single config object in the system.
    Behavior: Config object will be deleted and re-created.
    Description of the fields:
      MAP 	 - Mapping of rev_rec_schedule with respect to service_type 
		   and event type along with some balance impact characteristics 
      RULES   	 - Rules based on balance impacts fields. 
      GL_ID   	 - GLID associated with the bal_impact. 
      TYPE_STR   - Impact type. Charge (PIN_IMPACT_TYPE_RATED) and Discount (PIN_IMPACT_TYPE_DISCOUNT) are valid values.	
      RESOUREC_ID- ResourceId associated with the bal_impact. 
      RATE_TAG 	 - Rate_tag field of the balance_impact. 
      CODE   	 - This is the link to the /config/rev_rec_schedule 
		   object these attributes map to. 
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd" />

  <xs:element name="ObjectList">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
	      <xs:element name="POID" type="PinPoid" maxOccurs="1" minOccurs="0" />
              <xs:element name="ACCOUNT_OBJ" type="PinPoid" maxOccurs="1" minOccurs="0" /> 
	      <xs:element name="DESCR" type="xs:string" maxOccurs="1" minOccurs="0" /> 
              <xs:element name="HOSTNAME" type="xs:string" maxOccurs="1" minOccurs="0" />
              <xs:element name="NAME" type="xs:string" maxOccurs="1" minOccurs="0" /> 
              <xs:element name="PROGRAM_NAME" type="xs:string" maxOccurs="1" minOccurs="0" /> 
	      <xs:element name="VALUE" type="xs:string" minOccurs="0" />
	      <xs:element name="VERSION" type="xs:string" minOccurs="0" />		
              <xs:element name="MAP" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EVENT_TYPE" type="xs:string" maxOccurs="1" minOccurs="1" /> 
                    <xs:element name="SERVICE_TYPE" type="xs:string" maxOccurs="1" minOccurs="1" /> 
                    <xs:element name="RULES" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="GL_ID" type="PinGLId" maxOccurs="1" minOccurs="0" /> 
                          <xs:element name="TYPE_STR" type="PinImpactType" maxOccurs="1" minOccurs="1" /> 
                          <xs:element name="RATE_TAG" type="xs:string" maxOccurs="1" minOccurs="0" /> 
                          <xs:element name="RESOURCE_ID" type="xs:positiveInteger" maxOccurs="1" minOccurs="0" /> 
                          <xs:element name="NAME" type="xs:string" maxOccurs="1" minOccurs="0" /> 
                          <xs:element name="CODE" type="xs:string" maxOccurs="1" minOccurs="0" /> 
                        </xs:sequence>
                       <xs:attribute name="elem" form="unqualified" type="xs:int" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                 <xs:attribute name="elem" form="unqualified" type="xs:int" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       </xs:choice>
     <xs:attribute name="configName" type="xs:string" default="/config/rev_rec_map" />
    </xs:complexType>
  </xs:element>
</xs:schema>
