BRM/xsd/config_loan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
 Copyright (c) 2021, Oracle and/or its affiliates. All rights reserved. 
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema 
  targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
  xmlns="http://www.oracle.com/schemas/BusinessConfig"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Schema definition for /config/loan.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd" />

  <xs:simpleType name="zeroOrOne">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
        </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Unit">
    <xs:restriction base="xs:int">
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POID" type="PinPoid" minOccurs="0" />
              <xs:element name="ACCOUNT_OBJ" type="PinPoid" minOccurs="0" />
              <xs:element name="DESCR" type="xs:string" minOccurs="0" />
              <xs:element name="HOSTNAME" type="xs:string" minOccurs="0" />
              <xs:element name="NAME" type="xs:string" minOccurs="1" />
              <xs:element name="PROGRAM_NAME" type="xs:string" minOccurs="0" />
              <xs:element name="VALUE" type="xs:string" minOccurs="0" />
              <xs:element name="VERSION" type="xs:string" minOccurs="0" />
              <xs:element name="LOAN_INFO" minOccurs="1"
                          maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CREDIT_AMOUNT" 
                                type="xs:decimal" minOccurs="1" />
                    <xs:element name="LOAN_FIXED_FEE"
                                  type="xs:decimal" minOccurs="0" />
                    <xs:element name="LOAN_PERCENTAGE_FEE"
                                  type="xs:decimal" minOccurs="0" />
                    <xs:element name="FIXED_MAXIMUM" 
                                  type="xs:decimal" minOccurs="0" />
                    <xs:element name="SCALED_MAXIMUM"
                                  type="xs:decimal" minOccurs="0" />
                    <xs:element name="RESOURCE_ID"
                                type="xs:integer" minOccurs="0" />
                    <xs:element name="MAX_QUANTITY"
                                type="xs:integer" minOccurs="0" />
                    <xs:element name="TAX_CODE"
                                type="xs:string" minOccurs="0" />
                    <xs:element name="LOAN_TAX_CODE"
                                type="xs:string" minOccurs="0" />
                    <xs:element name="AGE"
				                        type="xs:decimal" minOccurs="0" />
                    <xs:element name="LOAN_MINIMUM"
				                        type="xs:decimal" minOccurs="0" />
                    <xs:element name="UNIT"
                                type="Unit" minOccurs="0" />
                    <xs:element name="REASON_ID"
                                type="xs:integer" minOccurs="0" />
                    <xs:element name="REASON_DOMAIN_ID"
                                type="xs:integer" minOccurs="0" />
		    <xs:element name="LOCATION_MODE" 
                                type="zeroOrOne" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="elem" type="xs:int" />
                </xs:complexType>
		          </xs:element>
              <xs:element name="LOCATIONS" minOccurs="0" 
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LOCATION"
                                      type="xs:string" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute name="elem" 
                                      type="xs:int" />
                      </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" 
                    default="/config/loan" />
      <xs:attribute name="configMode" type="xs:string" default="replaceAll" />
      <xs:attribute name="override" type="xs:string" default="true" />
    </xs:complexType>
  </xs:element>

</xs:schema>
