BRM/xsd/config_note_type.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
  targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
  xmlns="http://www.oracle.com/schemas/BusinessConfig"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

  <xs:include schemaLocation="PinTypes.xsd" />

  <xs:element name="ObjectList">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DESCR" type="xs:string" minOccurs="1" />
              <xs:element name="NAME" type="xs:string" minOccurs="1" />
              <xs:element name="TYPES" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NOTE_TYPE" type="xs:int" minOccurs="1" />
                    <xs:element name="STRING_ID" type="xs:int" minOccurs="1" />
                    <xs:element name="STR_VERSION" type="xs:int" minOccurs="1" />
                    <xs:element name="NAME" type="xs:string" minOccurs="1" />
                    <xs:element name="SUB_TYPES" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NOTE_SUB_TYPE" type="xs:int" minOccurs="1" />
                          <xs:element name="STRING_ID" type="xs:int" minOccurs="1"  />
                          <xs:element name="STR_VERSION" type="xs:int" minOccurs="1" />
                          <xs:element name="NAME" type="xs:string" minOccurs="1" />
                        </xs:sequence>
                        <xs:attribute name="elem" form="unqualified" type="xs:int" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="elem" form="unqualified" type="xs:int" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        </xs:choice>
        <xs:attribute name="configName" type="xs:string" default="/config/note_type" />
    </xs:complexType>
  </xs:element>
</xs:schema>
