BRM/xsd/config_bill_presentation_media.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
Copyright (c) 2021, Oracle and/or its affiliates. All rights reserved.
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
           xmlns="http://www.oracle.com/schemas/BusinessConfig"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Config object for bill presentation media.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd"/>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ACCOUNT_OBJ"  type="PinPoid"   minOccurs="0"/>
              <xs:element name="DESCR"        type="xs:string" minOccurs="1"/>
              <xs:element name="NAME"         type="xs:string" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" default="/config/bill_presentation_media" />
      <xs:attribute name="configMode" type="xs:string" default="replace" />
    </xs:complexType>
  </xs:element>
</xs:schema>
