BRM/xsd/config_business_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
 Copyright (c) 2015, Oracle and/or its affiliates. All rights reserved.
This material is the confidential property of Oracle Corporation or its
licensors and may be used, reproduced, stored or transmitted only in
accordance with a valid Oracle license or sublicense agreement.
================================================================================
-->
<xs:schema targetNamespace="http://www.oracle.com/schemas/BusinessConfig"
           xmlns="http://www.oracle.com/schemas/BusinessConfig"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Schema definition for business profile config object.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="PinTypes.xsd"/>

  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConfigObject" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POID" type="PinPoid" minOccurs="0"/>
              <xs:element name="ACCOUNT_OBJ" type="PinPoid" minOccurs="0"/>
              <xs:element name="DESCR" type="xs:string" minOccurs="0"/>
              <xs:element name="HOSTNAME" type="xs:string" minOccurs="0"/>
              <xs:element name="NAME" type="xs:string" minOccurs="1"/>
              <xs:element name="PROGRAM_NAME" type="xs:string" minOccurs="0"/>
              <xs:element name="VALUE" type="xs:string" minOccurs="0"/>
              <xs:element name="VERSION" type="xs:string" minOccurs="0"/>
              <xs:element name="PAIR" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PAIR_KEY" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PAIR_VALUE" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="elem" type="xs:integer" />
                </xs:complexType>
              </xs:element>
              <xs:element name="TEMPLATE_ARRAY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TEMPLATE_NAME" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TEMPLATE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="/config.*" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="elem" type="xs:integer" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="configName" type="xs:string" default="/config/business_profile" />
      <xs:attribute name="configMode" type="xs:string" default="replaceAll" />
    </xs:complexType>
  </xs:element>
</xs:schema>
