BRM/sys/eai_js/xsd/CollectionsAction.xsd

<!--  $Header: optional_mgrs_vob/ifw_sync/config/xsd/CollectionsAction.xsd /cgbubrm_7.3.2.portalbase/2 2008/10/23 04:27:58 sdganta Exp $ -->

<!--
 Copyright (c) 2008, Oracle and/or its affiliates. All rights reserved.

	This material is the confidential property of Oracle Corporation
	or its licensors and may be used, reproduced, stored or transmitted
	only in accordance with a valid Oracle license or sublicense agreement.

	NAME
	CollectionsAction.xsd

	DESCRIPTION
	This file defines the schema for the xml output generated by
	payloadconfig_collections.xml.

	MODIFIED   (MM/DD/YY)
 sdganta     10/19/08 - TO include ElementId in Bills element
	sdganta     07/21/08 - Adding schema file for Support Collections Flow
				feature.
	sdganta     07/21/08 - Creation

-->
<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/communications/schemas/CRMSync"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://xmlns.oracle.com/communications/schemas/CRMSync">
	<xs:element name="CollectionsAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccountObj" 	minOccurs="1" maxOccurs="1"/>
                                <xs:element ref="BillInfoObj" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="AccountingType" minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="EventDescr" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="ActionPoid" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="ActionName" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="ActionDescr" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="ActionType" 	minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DueDate" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="OpcodeNumber" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="CompletedDate" minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="ActionStatus" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="OverdueAmount" minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="OverdueDays" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="Currency" 	minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="Bills" 	minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
				<xs:attribute name="InstanceId" type="xs:string" use="required"/> 
		</xs:complexType>
	</xs:element>
	<xs:element name="Bills">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BillPoid" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BillNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BillDue" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BillDueDate" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
				 <xs:attribute name="ElementId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountObj"	type="xs:string"/>
        <xs:element name="BillInfoObj" 	type="xs:string"/>
        <xs:element name="AccountingType" type="xs:int"/>
        <xs:element name="EventDescr" 	type="xs:string"/>
        <xs:element name="ActionPoid" 	type="xs:string"/>
        <xs:element name="ActionName" 	type="xs:string"/>
        <xs:element name="ActionDescr" 	type="xs:string"/>
        <xs:element name="ActionType" 	type="xs:string"/>
        <xs:element name="DueDate" 	type="xs:string"/>
        <xs:element name="OpcodeNumber" type="xs:int"/>
        <xs:element name="CompletedDate" type="xs:string"/>
        <xs:element name="ActionStatus"	type="xs:int"/>
        <xs:element name="OverdueAmount" type="xs:decimal"/>
        <xs:element name="OverdueDays" 	type="xs:int"/>
        <xs:element name="Currency" 	type="xs:int"/>
	<xs:element name="BillPoid" 	type="xs:string"/>
        <xs:element name="BillNumber" 	type="xs:string"/>
        <xs:element name="BillDue" 	type="xs:decimal"/>
        <xs:element name="BillDueDate" 	type="xs:string"/>
</xs:schema>
