BRM/deploy/web_services/schemas/PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007, 2018, Oracle and/or its affiliates. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1219" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DISCOUNTS" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1218">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="60"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SESSION_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(event/session)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1218">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DISCOUNT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="QUANTITY" type="UNION_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1219">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1313" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULTS" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1312">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1312">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT"/>
   </xsd:simpleType>
</xsd:schema>