BRM/deploy/web_services/schemas/PCM_OP_SUBSCRIPTION_SET_PRODINFO.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007, 2018, Oracle and/or its affiliates. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ACTG_NEXT_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12111" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PRODUCTS" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="60"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SESSION_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(event/session)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CYCLE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OVERRIDE_VALUES_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(offering_override_values)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OVERRIDE_PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="OVERRIDE_PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110235">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PRICE_LIST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="OVERRIDE_PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110235">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_MAP" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1211023522">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1211023522">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DATE_RANGES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_121102352222">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="EVENT_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_121102352222">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PRICE_TAGS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110235222213">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12110235222213">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PERCENT" type="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RESOURCE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SET_PRODINFO_12111">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1313" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1312">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1312">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SET_PRODINFO_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_SUBSCRIPTION_SET_PRODINFO">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_SUBSCRIPTION_SET_PRODINFO">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_SUBSCRIPTION_SET_PRODINFO">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_SUBSCRIPTION_SET_PRODINFO"/>
   </xsd:simpleType>
</xsd:schema>