BRM/deploy/web_services/schemas/PCM_OP_READ_OBJ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Copyright (c) 2014, 2016, Oracle and/or its affiliates. 
All rights reserved.-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
   <xsd:element name="PCM_OP_READ_OBJ_inputFlist">
      <xsd:complexType>
         <xsd:choice>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
	       <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
               	  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_TYPE" minOccurs="0" />
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="PCM_OP_READ_OBJ_outputFlist">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:any namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip" maxOccurs="unbounded" minOccurs="0" />
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
    <xsd:complexType name="CONTEXT_INFO_TYPE">
        <xsd:choice>
            <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="128"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="128"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>
