BRM/apps/pin_inv_doc_gen/InvoiceList.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--
 Copyright (c) 2008, 2017, Oracle and/or its affiliates. All rights reserved.

 This material is the confidential property of Oracle Corporation or its
 licensors and may be used, reproduced, stored or transmitted only in
 accordance with a valid Oracle license or sublicense agreement.

-->
<xs:schema targetNamespace="http://www.oracle.com/BRM/schemas" 
            elementFormDefault="qualified" 
            xmlns="http://www.oracle.com/BRM/schemas" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
            
<xs:element name="InvoiceDocGenConfig" type="InvoiceConfigType"/>

<xs:complexType name="InvoiceConfigType">
    <xs:choice>
        <xs:element name="InvoicingList" type="InvListType" minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
</xs:complexType>
    
<xs:complexType name="InvListType">
    <xs:sequence>
            <xs:element name="Account" type="xs:nonNegativeInteger" maxOccurs="1"/>
            <xs:element name="Billinfo" type="xs:nonNegativeInteger" maxOccurs="1"/>            
    </xs:sequence>
</xs:complexType>
</xs:schema>