BRM/apps/brm_integrations/schemas/PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007, 2018, Oracle and/or its affiliates. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="BILLINFO_OBJ" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1217" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="PROMISE_TO_PAY_INFO" type="PROMISE_TO_PAY_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1216" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="SCENARIO_OBJ" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(collections_scenario)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SPEC_NAME" minOccurs="0" maxOccurs="1"/>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="PROMISE_TO_PAY_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1216">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DAYS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="INVOKE_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="MILESTONES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="MILESTONES_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_121629">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="MILESTONE_AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MILESTONE_INTERVAL" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NUM_MILESTONES" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PAYINFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PAYINFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_121628">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PAYINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(payinfo)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PAYINFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_121628">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CC_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="CC_INFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_12162821">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DD_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DD_INFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_12162822">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CC_INFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_12162821">
      <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
   </xsd:complexType>
   <xsd:complexType name="DD_INFO_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_12162822">
      <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
   </xsd:complexType>
   <xsd:complexType name="MILESTONES_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_121629">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="MILESTONE_AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MILESTONE_INTERVAL" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MILESTONE_PERCENTAGE" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1217">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1314" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(event/activity/collections/promise_to_pay)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROMISE_TO_PAY" minOccurs="0" maxOccurs="256">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="PROMISE_TO_PAY_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1315">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROMISE_TO_PAY_INFO" type="PROMISE_TO_PAY_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1313" minOccurs="0" maxOccurs="1"/>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="PROMISE_TO_PAY_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1315">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DUE_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PROMISE_TO_PAY_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="INVOKE_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="MILESTONES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="MILESTONES_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_131327">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="MILESTONE_AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="MILESTONE_INTERVAL" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NUM_MILESTONES" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="MILESTONES_ARRAY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_131327">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="MILESTONE_AMOUNT" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MILESTONE_INTERVAL" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MILESTONE_PERCENTAGE" type="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY_1314">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_COLLECTIONS_INVOKE_PROMISE_TO_PAY"/>
   </xsd:simpleType>
</xsd:schema>