BRM/apps/brm_integrations/schemas/PCM_OP_SUBSCRIPTION_PURCHASE_DEAL.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007, 2018, Oracle and/or its affiliates. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CONTACT_INFO" type="CONTACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12113" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12115" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CONTRACT_INFO" type="CONTRACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12114" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DEAL_INFO" type="DEAL_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="LOCALE" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ON_DEMAND_INFO" type="ON_DEMAND_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12111" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="60"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ZONEMAP_NAME" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZONEMAP_TARGET" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="ON_DEMAND_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12111">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DEAL_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DEAL_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(deal)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112212">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PERMITTEDS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PERMITTEDS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112213">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PLAN_CONTRACT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(subscriber_contract_obj)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PLAN_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(plan)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(deal)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BASE_PRODUCT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CYCLE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="GRACE_PERIOD_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="GRACE_PERIOD_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="INHERITED_INFO" type="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221125" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAMEINFO" minOccurs="0" maxOccurs="2">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211242">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="OVERRIDDEN_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OVERRIDE_PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="OVERRIDE_PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221121">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PRICE_LIST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221124">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PRODUCT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="QUANTITY" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="STATUS" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_END_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_DETAILS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="VALIDITY_ALIGN_MODE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="7"/>
                  <xsd:enumeration value="8"/>
                  <xsd:enumeration value="9"/>
                  <xsd:enumeration value="10"/>
                  <xsd:enumeration value="11"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="OVERRIDE_PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221121">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="USAGE_MAP" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_121122112121">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_121122112121">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DATE_RANGES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211212122">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="EVENT_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211212122">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PRICE_TAGS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221121212213">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221121212213">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PERCENT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RESOURCE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221124">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112211242">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221125">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112212">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CYCLE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DISCOUNT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OVERRIDE_DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="OVERRIDE_DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221221">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PURCHASE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="QUANTITY" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="STATUS" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_T" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="OVERRIDE_DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221221">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="USAGE_MAP" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_121122122121">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="USAGE_MAP_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_121122122121">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DATE_RANGES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112212212122">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="EVENT_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DATE_RANGES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112212212122">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PRICE_TAGS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221221212213">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="START_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRICE_TAGS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211221221212213">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AMOUNT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PERCENT" type="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PERMITTEDS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12112213">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="OBJ_TYPE" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12113">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="NAMEINFO" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211321">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211321">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ADDRESS" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CITY" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COMPANY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CONTACT_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COUNTRY" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EMAIL_ADDR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FIRST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="GEOCODE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="LAST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MIDDLE_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PHONES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PHONES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211321216">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(nameinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SALUTATION" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="75"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TITLE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ZIP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PHONES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211321216">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="PHONE" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="75"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                  <xsd:enumeration value="7"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTRACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12114">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="INHERITED_INFO" type="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211422" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(subscriber_contract)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1211422">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_12115">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTACT_INFO" type="CONTACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1315" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1316" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1313">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1312">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="RESULTS" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1314">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1312">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="NAMEINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(nameinfo)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PRODUCT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DISCOUNT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1314">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTACT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1315">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="NAMEINFO" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_131521">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="NAMEINFO_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_131521">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CITY" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COMPANY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CONTACT_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COUNTRY" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EMAIL_ADDR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FIRST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="GEOCODE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="LAST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MIDDLE_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PHONES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PHONES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_131521216">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(nameinfo)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SALUTATION" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="75"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TITLE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ZIP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PHONES_ARRAY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_131521216">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="PHONE" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="75"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                  <xsd:enumeration value="7"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_1316">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_SUBSCRIPTION_PURCHASE_DEAL"/>
   </xsd:simpleType>
</xsd:schema>