BRM/apps/brm_integrations/schemas/PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007, 2018, Oracle and/or its affiliates. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12112" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1218">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="EFFECTIVE_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="END_T" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="GROUP_OBJ" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(group)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MEMBERS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="MEMBERS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1217">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12111">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROFILES" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="PROFILES_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12110">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SPONSORS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="SPONSORS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1219">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="MEMBERS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1217">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ACCOUNT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1218">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DISCOUNT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_discount)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="SPONSORS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1219">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="SPONSOR_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(sponsorship)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PROFILES_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12110">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="PROFILE_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(profile)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12111">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_12112">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1313" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(group)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1312">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1312">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(event)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_SUBSCRIPTION_SHARING_GROUP_DELETE"/>
   </xsd:simpleType>
</xsd:schema>